OLLAMA_MODEL=qwen3.5:latest
OLLAMA_BASE_URL=http://localhost:11434
ALLOW_PRIVATE_NETWORK=true
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=fake_key
LANGSMITH_PROJECT="test"
