OLLAMA_MODEL=qwen3.5:latest
OLLAMA_BASE_URL=http://localhost:11434
ALLOW_PRIVATE_NETWORK=true
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=fake_key
LANGSMITH_PROJECT="test"
LANGSMITH_PROMPT_SUPERVISOR=hellosubagents-supervisor
LANGSMITH_PROMPT_CALENDAR_SYSTEM=hellosubagents-calendar-system
LANGSMITH_PROMPT_CALENDAR_REFLECTION=hellosubagents-calendar-reflection
LANGSMITH_PROMPT_CALENDAR_REVISION=hellosubagents-calendar-revision
LANGSMITH_PROMPT_EMAIL_SYSTEM=hellosubagents-email-system
BG_JOB_ISOLATED_LOOPS=true